@font-face {
  font-family: 'MyFont';
  src: url('../pokemon-dppt.woff2') format('woff2');
}

*{
  font-family: 'MyFont';
  font-size:16px;
  letter-spacing: 1px;
  color: #4d4c54;
  text-shadow: 0.5px 1px 0 #9e9fa4;
}
