* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
font-family: 'Mona12', san-serif;
margin-top:100px;
}

input{
display:block;
margin:10px auto;
padding:10px;
}

button{
padding:10px 20px;
margin:10px;
cursor:pointer;
}
