@import url('https://cdn.jsdelivr.net/gh/MonadABXY/mona-font/web/mona.css');

@font-face {
    font-family: 'Mona12';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/Galmuri11-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
*{
  font-family: 'Mona12';
  letter-spacing: 1px;
  color: #4d4c54;
  text-shadow: 0.5px 1px 0 #9e9fa4;
}
